{% extends "../app.html" %}

{% block title %} - Home{% endblock %}

{% block script %}
    <script type="module">
        import init, { XWing } from "./pkg/web.js";
        init().then(() => {
            const xwing = new XWing();
            console.log(xwing);
            const prev = document.getElementById("preview");
            document.getElementById("startButton").addEventListener("click", () => xwing.start());
            // document.getElementById("startButton").addEventListener("click", () => recorder?.stop());
        });
    </script>
{% endblock %}

{% block content %}
    <div class="video-container">
        <h4>Welcome to Project X-Wing!</h4>
        <video id="preview"" width="320" height="240" controls></video>
        <di class="video-controls">
            <button id="startButton">Record</button>
            <button id="stopButton">Stop</button>
        </di>
    </div>
{% endblock %}
