body {
    background: #082136;
    color: rgb(209, 187, 187);
    margin: 0;
  }

 .video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.video-controls {
  display: flex;
  gap: 16px;
}